body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 96%);
}


header {
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 10px;
}

h1 {
    font-size: 2em;
    margin: 5;
}

nav ul {
    list-style: none;
    margin: 20;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 5;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(221, 221, 221);
}

main {
    display: grid;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-top: 40px;
}

section {
    margin-top: 2rem;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

legend {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
}

label {
    display: block;
    margin-top: 10px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ddd;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50%;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}